@import url('../pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2');

* {
  text-align: center;
  margin: auto;
  font-family: "Poppins";
}

table {
  margin: auto;
  width: 99%;
}

th {
  width: 33%;
  padding-top: 20px;
  padding-bottom: 10px;
}

td {
  padding: 1px;
}

ul {
  padding: 10px;
  list-style-type: none;
}

h1 {
  margin-top: 2%;
  text-align: center;
  border-bottom: 1px solid #000;
}
nav {
  padding: 30px;
  border-right: 1px solid #ddd;
}
nav li {
  text-decoration: underline;
  margin: 0;
}
article {
  padding: 30px;
}

article img {
  width: 1000px;
  height: 200px;
}
article p {
  margin-top: 30px;
  line-height: 2em;
  color: #777;
}
aside {
  border-bottom: 1px solid #ddd;
}
footer {
  grid-column: span 3;
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 30px;
}

/* responsive */
@media screen and (max-width: 1200px) {
  nav {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  article {
    grid-column: span 2;
  }
  aside {
    padding: 16px;
  }
}

@media screen and (max-width: 980px) {
  nav, article, aside {
    grid-column: span 3;
  }
  aside {
    border-left: 0;
    border-top: 1px solid #ddd;
  }
}